<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">We've got what you need!</h2>
                <hr class="light">
                <p class="text-faded">Unlock your team's potential with documentation designed to drive knowledge retention and empower seamless collaboration. We craft audience-focused content tailored to your developers, partners, and end-users, making it easy to understand and act on complex ideas. From detailed API documentation to intuitive tools and integration guides, we help your team build, scale, and innovate faster. </p>
                <a href="#contact" class="btn btn-default btn-xl">Get Started!</a>
            </div>
        </div>
    </div>
</section>
