<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Expert Technical Writing for Big Ideas.</h1>
            <hr>
            <p>Transform Complex Ideas into Clear, Actionable Documentation. Blending technical expertise with clear communication to create materials that empower your audience, enhance understanding, and drive action. Your ideas deserve clarity—let’s make them shine.</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>
